span {
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
  border-bottom: 1px solid #FFC700;
  display: inline-block;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.container-width {
  width: 85%;
}

@media (min-width: 768px) {
  span {
    font-size: 72px;
  }
}
