<div>
  <div>
    <img class="img-fluid" src="assets/sectionBackgrounds/About.svg">
  </div>
  <div class="text-container">
    <div>
      <app-copy-block
        title="Joe Marzullo"
        paragraph="Joe is a front-end developer with seven plus years' experience, providing Responsive Design, Application Architecture and Customer Satisfaction. He has also demonstrated leadership experience working with Angular, JavaScript and Bootstrap.  In addition, his experience also includes back-end development experience with Java, leveraging the Java Spring Framework. He excels at breaking down complex problems while providing multiple options for implementing and maintaining solutions."
      ></app-copy-block>
    </div>
    <div class="mt-5">
      <app-copy-block
        title="PNW"
        paragraph="Joe is a native to the Pacific Northwest and finds his peace among the trees. Born and raised in Western Washington, it's just always felt right to head West to the Ocean."
      ></app-copy-block>
    </div>
    <div class="mt-5">
      <app-copy-block
        title="Stump Hunt"
        paragraph="In 2017 Joe and friends set out to the wilderness of the Pacific Northwest to the find the elusive King Stump. Beneath the clear mountain waters in the PNW lie silent giants. Monuments of the past perserved silently in the glacial water. Among them lies The King Stump. The King Stump is one of glory and illusion. If one were to find the King Stump and stand upon it, then they would look like they are standing on the water, like a King. Joe Marzullo did just that. In 2017, Joe became the inaugural Stump Hunt Champion."
      ></app-copy-block>
    </div>
  </div>
</div>
