<div>
  <div>
    <img class="img-fluid" src="assets/sectionBackgrounds/Work.svg">
  </div>
  <div class="text-container">
    <div>
      <app-copy-block
        title="Greenfly"
        paragraph="Joe previously worked at a start-up that was in the Brand Management Industry. They were a company that leveraged a tool to build companies brands. He oversaw maintaining legacy code bases in AngularJS and creating new features in modern Angular. In addition to new features, Joe also worked on Defects within the backlog, determining root causes and providing fixes.  He was also tasked with supporting backend services in Java and Spring Boot. He created Angular and AngularJS apps for a fast-paced start-up working to bring unique brand content to users. He also worked with Product Owners and Managers to define business requirements and translate those requirements into Backlog Feature Enhancements."
      ></app-copy-block>
    </div>
    <div class="mt-5">
      <app-copy-block
        title="Dow Chemical"
        paragraph="As the Front-End Team Lead, Joe was responsible for the entire front-end codebase. He organized a release ticket, testing scenarios, divided work for the front-end team, performed code reviews, versioned the releases to feature branches for deployment to different environments.  He also worked with Product Owners and Designers to define business requirements and translate those requirements into Backlog Feature Enhancements.  He was also responsible for the more complex Feature Enhancements within the Backlog as the senior resource."
      ></app-copy-block>
    </div>
    <div class="mt-5">
      <app-copy-block
        title="Pacific City Vet Care"
        paragraph="Client asked Joe to build a site for customers to gain information about the practice, providing a contact form so the customer can connect with the Clinic. The contact form was made with SendGrid and creates a secure connection to the Outlook email client to receive emails from the website. SendGrid is 3rd party software that uses Node.js with the Express framework to send secure emails. Bootstrap was used to provide styling for the application. The site is hosted on Namecheap.com."
      ></app-copy-block>
    </div>
  </div>
</div>
<div>
  <shimmer-title [largeTitle]="true" title="DedElectric"></shimmer-title>
  <div>
    <div>
      <p>DedElectric is a Seattle based progressive rock band that has been active since 2013.</p>
      <p>"Despite playing within a somewhat saturated style of music, the music put forward by hard rock assailants DedElectric feels anything but by-the-numbers. Though it wouldn't be too out of the equation to picture DedElectric making headway on commercial rock radio alongside the likes of Foo Fighters and Pop Evil, the band makes sure to throw plenty of left hooks into their songs, mixing thick, distorted hard rock with everything from progressive rock to folk rock to even a bit of grunge worship. Take these enticing and creative sonic characteristics and back them up with cutting vocals and impeccably tight performances, and you've got a real treat on your hands." <br>-Northwest Music Scene</p>
    </div>
    <div>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/3ObU8to2J15wH7vkWRwXZJ?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </div>
</div>

