<div>
  <div>
    <img class="img-fluid" src="assets/sectionBackgrounds/Skills_2.svg">
  </div>
  <div class="text-container">
    <div class="split-word-container">
      <app-skill-array></app-skill-array>
    </div>
    <ul class="d-flex flex-wrap">
      <li>
        <span class="faIcon">
          <fa-icon [icon]="faAngular" size="lg"></fa-icon>
        </span>
      </li>
      <li>
        <span class="faIcon">
          <fa-icon [icon]="faReact" size="lg"></fa-icon>
        </span>
      </li>
      <li>
        <span class="faIcon">
          <fa-icon [icon]="faJavaScript" size="lg"></fa-icon>
        </span>
      </li>
      <li>
        <span class="faIcon">
          <fa-icon [icon]="faHTML" size="lg"></fa-icon>
        </span>
      </li>
      <li>
        <span class="faIcon">
          <fa-icon [icon]="faCSS" size="lg"></fa-icon>
        </span>
      </li>
      <li>
        <span class="faIcon">
          <fa-icon [icon]="faNode" size="lg"></fa-icon>
        </span>
      </li>
      <li>
        <span class="faIcon">
          <img class="icon-img" src="assets/icons/express-js.svg">
        </span>
      </li>
      <li>
        <span class="faIcon">
          <img class="icon-img" src="assets/icons/redux.svg">
        </span>
      </li>
    </ul>
    <div class="copy-block">
      <app-copy-block
        title="Joe Marzullo"
        paragraph="In addition, his experience also includes back-end development experience with Java, leveraging the Java Spring Framework. He excels at breaking down complex problems while providing multiple options for implementing and maintaining solutions."
      ></app-copy-block>
    </div>
  </div>
</div>
